.title{
    text-align: center;
    width: 100%;
    color: white;
}
.auth{
    background-image: url('../images/signup.jpg');
    background-size: cover;
}
.title2{
    text-align: center;
    width: 100%;
    color: black;
}

.Sign_upbox{
    width: 60%;
    margin: auto;
    background-color: #63A0CC;
    border-radius: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.full-input {
    width: 80%;
    margin: 5px auto;
    height: 1.5em;
    display: block;
    border-radius: 5px;
}

.half-input {
    width: 50%;
    margin: 10px auto;
    height: 1.5em;
    display: block;
    border-radius: 5px;
}

.label {
    width: 80%;
    margin: auto;
    height: 1.5em;
    display: block;
}

.signup_btn {
    width: 30%;
    margin: 20px auto;
    height: 30px;
    display: block;
    border-radius: 5px;
}

.Sign_inbox {

  width: 40%;
  margin: 150px auto;
  background-color: #63A0CC;
  border-radius: 10px;
  padding-bottom: 20px;
  padding-top: 20px;
}

body {
  padding: 0px;
  margin: 0px;
}

.nav-bar {
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.nav {
    list-style-type: none;
    margin: 0px;
    padding: 10px;
    width: 100%;

    background-color: #723881;
}

.nav-item {
    display: inline;
    color: #000;
    color: white;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

.right {
  float: right;
  margin-top:-10px;
  margin-right:30px;
}

.left {
  float: left;
}

.avatar {
  height: 25px;
  border-radius: 10px;
  margin-top: 5px;
}

.container {
  width: 80%;
  padding: 20px;
  margin: auto;
}

.main {
  width: 60%;
  margin: 0px;
  float:left;
}

.side-right {
  width: 40%;
  float:right;
  padding:auto;
}

.side-content {
  width: 80%;
  margin: auto;
  padding: 20px;
  background-color: #e0e0e0;

  height:400px;
  border-radius: 10px;
}

.row {
  width: 100%;
  margin: 30px auto;
  clear: both;
}
